[Unit]
Description=Sensor Flask Application
After=network.target

[Service]
User=fury
Group=fury
WorkingDirectory=/home/fury/Documents/ubuntu/SOA
ExecStart=/home/fury/Documents/ubuntu/SOA/env/bin/python3 /home/fury/Documents/ubuntu/SOA/sensor.py
Restart=always
RestartSec=5
StandardOutput=append:/var/log/sensor_soa_service.log
StandardError=append:/var/log/sensor_soa_service.log

[Install]
WantedBy=multi-user.target