[Unit]
Description=Consumer Farenheit Flask Application
After=network.target

[Service]
User=fury
Group=fury
WorkingDirectory=/home/fury/Documents/ubuntu/SOA/consumers
ExecStart=/home/fury/Documents/ubuntu/SOA/env/bin/python3 /home/fury/Documents/ubuntu/SOA/consumers/consFarenheit.py
Restart=always
RestartSec=5
StandardOutput=append:/var/log/consumers_farenheit_soa_service.log
StandardError=append:/var/log/consumers_farenheit_soa_service.log

[Install]
WantedBy=multi-user.target